@import './variables';
@import './mixins';


.header{
  @include basicos(100vw,3.5rem, 0.5rem 2rem);
  @include flex(row,nowrap);
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  background-color:$colorprimario; 
 

  .header__inicio{
    color:$colorsecundario;
    letter-spacing: 0.2rem;
    
  }
}




