@import './mixins';
@import './variables';

.inicio{
 background-color: $colorprimario;
 @include contenedor;
 display: grid;
 grid-template-columns: repeat(12,1fr);
 grid-template-rows: repeat(12,1fr);
 justify-items: center;
 

 .inicio__subtitulo{
    grid-column: span 12;
    grid-row: span 3;
    align-self: flex-end;
  }
  
  .inicio__titulo{
    letter-spacing:clamp(.5rem,2vw,1rem);
    line-height: clamp(2.5rem,11vw,4.5rem);
    grid-column: span 12;
    grid-row: span 5;
    align-self: center;
  }
  
  .inicio__texto{
    word-spacing: .5rem;
    text-align: center;
    grid-column: 4/10;
    grid-row: span 2;
  }
  
  .inicio__formbtn{
    grid-column: span 12;
    grid-row: span 2;

    .inicio__boton{
      @include btn(5rem,$colorsecundario, $colorprimario);
      color: inherit;
    }
  }
}