
/* ------------------LETRAS-------------------- */
$letradelgada:100;
$letranormal:400;
$letragruesa:700;

/* ------------------COLORES-------------------- */

$colorprimario: #91F2E9;
$colorsecundario:#275950;
$colortres:#41BFB3;
$colorcuarto:#2A8C82;
$colornegro:#260101;