/* ------------------LETRAS-------------------- */
/* ------------------COLORES-------------------- */
/* ------------------LETRAS-------------------- */
/* ------------------COLORES-------------------- */
.header {
  width: 100vw;
  height: 3.5rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  background-color: #91F2E9;
}
.header .header__inicio {
  color: #275950;
  letter-spacing: 0.2rem;
}

/* ------------------LETRAS-------------------- */
/* ------------------COLORES-------------------- */
.hamburger {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  background-color: #91F2E9;
  border-width: 0;
  justify-content: center;
  align-content: space-evenly;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 1000;
}
.hamburger div {
  width: 80%;
  height: 15%;
  padding: 0;
  background-color: #275950;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: 100% 0;
}
.hamburger div.top--isActive {
  transform: translate(-25%, -30%) rotateZ(-50deg);
}
.hamburger div.center--isActive {
  opacity: 0;
}
.hamburger div.bottom--isActive {
  transform: translate(-10%, 25%) rotateZ(50deg);
}

/* ------------------LETRAS-------------------- */
/* ------------------COLORES-------------------- */
.menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  background-color: #275950;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 995;
  transform: translateX(100%);
  transition: transform 0.4s ease-out, opacity 0.4s ease-in;
}
.menu.menu-in {
  transform: translateX(0);
  opacity: 1;
}
.menu a {
  color: #F0FFFF;
}

/* ------------------LETRAS-------------------- */
/* ------------------COLORES-------------------- */
.inicio {
  background-color: #91F2E9;
  width: 100vw;
  height: 100vh;
  padding: 3.5rem 1rem 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  justify-items: center;
}
.inicio .inicio__subtitulo {
  grid-column: span 12;
  grid-row: span 3;
  align-self: flex-end;
}
.inicio .inicio__titulo {
  letter-spacing: clamp(0.5rem, 2vw, 1rem);
  line-height: clamp(2.5rem, 11vw, 4.5rem);
  grid-column: span 12;
  grid-row: span 5;
  align-self: center;
}
.inicio .inicio__texto {
  word-spacing: 0.5rem;
  text-align: center;
  grid-column: 4/10;
  grid-row: span 2;
}
.inicio .inicio__formbtn {
  grid-column: span 12;
  grid-row: span 2;
}
.inicio .inicio__formbtn .inicio__boton {
  width: 5rem;
  height: 2rem;
  border: 0.2rem solid #275950;
  background-color: #91F2E9;
  box-shadow: 0.4rem 0.4rem #275950;
  border-radius: 1rem 0;
  align-self: center;
  color: inherit;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  scroll-padding-top: 3.5rem;
  scroll-behavior: smooth;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html body {
  overflow-x: hidden;
}
html body h1 {
  font-size: clamp(40px, 8vw, 56px);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
html body h2 {
  font-size: clamp(32px, 7vw, 40px);
  font-weight: 400;
  text-align: center;
  font-variant: small-caps;
}
html body h3 {
  font-size: clamp(28px, 5vw, 32px);
  font-weight: 400;
  text-align: center;
}
html body h4 {
  font-size: clamp(24px, 4vw, 28px);
  font-weight: 400;
  text-align: center;
}
html body img {
  max-width: 100%;
  height: auto;
}
html body a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */